:root {
  --main-color: #4b3ec4;
  --white-color: #ffffff;
  --dark-color: #000000;
  --light-color: #ebeef6;
  --red-color: #f1352b;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.fs-8 {
  font-size: 11px;
  font-weight: 500;
}
.bg-light-bannmer {
  background: rgba(235, 238, 246, 1);
}
.w-20 {
  width: 18% !important;
}
.w-40 {
  width: 38% !important;
}
.w-95 {
  width: 95%;
}
.bg-custom {
  background-color: var(--main-color) !important;
}
.text-m-color {
  color: var(--main-color) !important;
}
.text-w {
  color: var(--white-color) !important;
}
.text-light-custom {
  color: #999999;
}
.text-custom-dark {
  color: var(--dark-color) !important;
}
.text-custom-green {
  color: #b9f34f;
}
.bg-custom-green {
  background-color: #b9f34f;
}
.bg-white-custom {
  background-color: var(--white-color) !important;
}
.bg-custom-light {
  background-color: var(--light-color) !important;
}
.bg-custom-dark {
  background-color: var(--dark-color) !important;
}
.bg-red {
  background-color: var(--red-color);
}
.text-red {
  color: var(--red-color) !important;
}
.h-10 {
  height: 40px !important;
}
.icon-circle {
  width: 30px;
  line-height: 30px;
  background-color: var(--main-color);
  color: var(--white-color);
  border-radius: 100%;
  text-align: center;
}
.btn-custom-red,
.btn-custom-red:hover {
  color: var(--red-color);
  border: 1px solid var(--red-color);
  background-color: var(--white-color);
}

.btn-custom-red-fully,
.btn-custom-red-fully:hover {
  color: var(--white-color);
  background-color: var(--red-color);
}
.top-header {
  height: 40px;
}
.fs-7 {
  font-size: 13px;
  font-weight: 700;
}
.top-header-btn {
  width: 50px;
  height: 20.4px;
  font-size: 12px;
  font-weight: 700;
  color: var(--dark-color);
  background-color: var(--white-color);
  border-radius: 800px;
}
.top-header-text,
.top-header-text span,
.top-header-a {
  font-weight: 400;
  font-size: 14px;
  line-height: 23.8px;
}
.top-header-text span {
  font-weight: 700 !important;
}
.top-header-a {
  font-weight: 400 !important;
}
.middle-header-wrapper {
  padding: 20px 0;
  border-bottom: 1px solid #99999999;
}
.logo-wrapper {
  width: fit-content;
}
.logo-wrapper img {
  width: 100%;
  height: 100%;
}
.seach-wrapper {
  position: relative;
}
.custom-input-group,
.input-group-append .form-select {
  height: 45px;
}
.custom-select-radius {
  border-radius: 20px 0px 0px 20px !important;
}
.custom-input-radius {
  border-radius: 0px 20px 20px 0px !important;
}
.header-search-icon {
  right: 3px;
  top: 2.4px;
  width: 40px;
  line-height: 40px;
  position: absolute;
  text-align: center;
  border-radius: 20px;
  vertical-align: middle;
  background-color: var(--main-color);
}
.cart-icon-wrapper {
  width: 45px;
  line-height: 45px;
  border-radius: 22.5px;
  text-align: center;
  background-color: var(--light-color);
}
.cart-icon-wrapper i,
.dot-icon i.fa-heart-o {
  font-size: 22px;
  font-weight: 900;
}
.dot-icon {
  position: relative;
}
.dot-icon::before {
  content: "";
  position: absolute;
  top: -13px;
  right: -10px;
  width: 15px;
  height: 15px;
  padding: 5px 0px 0px 0px;
  gap: 0px;
  border-radius: 100%;
  background-color: var(--light-color);
}
.dot-icon::after {
  content: "";
  position: absolute;
  top: -10.6px;
  right: -7.2px;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  background-color: var(--main-color);
}
.flex-direction-row {
  flex-direction: row !important;
}
.cart-icon-wrapper-2 {
  width: 35px;
  line-height: 32px;
  border-radius: 22.5px;
  text-align: center;
  background-color: var(--light-color);
  height: 35px;
}
.categories-card {
  width: 110px;
  height: 110px;
  border-radius: 100%;
  background: #e3e3ec;
  vertical-align: middle;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 30px;
}
.categories-card img {
  width: 100%;
  height: 100%;
}
.banner-1,
.banner-2,
.banner-3,
.banner-4,
.banner-5 {
  width: 100%;
  height: 480px;
  background-image: url("../img/home/banner/banner-tv.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-1 p.banner-text-1 {
  width: 137.72px;
  font-weight: 200;
  font-size: 35px;
}
.btn-custom {
  color: var(--white-color);
  background-color: var(--main-color);
}
.btn-custom:hover {
  color: var(--white-color);
  background-color: var(--main-color);
}
.banner-2 {
  background-image: url("../img/home/banner/banner-fan.png") !important;
  background-size: 100% 100% !important;
}
.banner-3,
.banner-4,
.banner-5 {
  height: 230px;
}
.banner-3 {
  background-image: url("../img/home/banner/banner-tab.png") !important;
  background-size: 100% 100% !important;
}
.banner-4 {
  background-image: url("../img/home/banner/banner-speaker.png") !important;
  background-size: 100% 100% !important;
}
.banner-5 {
  background-image: url("../img/home/banner/banner-washing.png") !important;
  background-size: 100% 100% !important;
}
.deals-card-body-custom {
  height: 100%; /* Set the height of the element */
  background: linear-gradient(
    181deg,
    #ffffff 0%,
    rgba(192, 192, 192, 1) 50%,
    #ffffff 100%
  );
}
.best-weekly-deals-wrapper {
  background: rgba(235, 238, 246, 1);
  border-radius: 20px;
}
.deals-card-img-wrapper {
  height: 100px;
}
.deals-card-img-wrapper-2 {
  height: 577px !important;
}
.deals-card-body-custom h5 {
  font-size: 15px;
  font-weight: 700;
}
.deals-card-wrapper .card {
  height: 435px !important;
}
.deals-card-middle .progress {
  height: 8px !important;
}
.trending-search-card {
  background: rgba(50, 51, 59, 1);
}
.trending-search-h5 {
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  color: rgba(101, 253, 244, 1);
}
.trending-search-img {
  height: 125px;
  width: 100%;
}
.trending-search-p {
  font-weight: 300;
  font-size: 12px;
  color: rgba(101, 253, 244, 1);
}
.icon-circle-heart {
  color: var(--dark-color);
  background-color: var(--white-color);
  border: 2px solid var(--light-color);
  border-radius: 100%;
  width: 35px;
  line-height: 30px;
  text-align: center;
}
.best-card-wrapper .card {
  height: 410px;
}
.best-card-img-wrapper {
  height: 150px !important;
}
.best-card-img-wrapper img {
  height: 130px !important;
  width: 100% !important;
  padding: 0;
  margin: 0;
}
.brand-banner-1,
.brand-banner-2,
.brand-banner-3 {
  height: 250px;
  background-image: url("../img/home/brands/img-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  color: var(--white-color);
}
.brand-banner-2 {
  background-image: url("../img/home/brands/img-2.png") !important;
}
.brand-banner-3 {
  background-image: url("../img/home/brands/img-3.png") !important;
}
.custom-text-card {
  width: 90% !important;
}
.best-selling {
  width: 424px;
  height: 280px;
}
.see-lea-img-wrapper img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.seeling-landing-h {
  height: 361.33px;
}
.sub-wrapper-img,
.sub-input-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.sub-img {
  position: absolute;
  right: 183px;
  top: 0;
  height: 79px;
}
.sub-btn {
  position: absolute;
  right: 2px;
  top: 35px;
  z-index: 10;
}
.sub-icon {
  position: absolute;
  left: 11px;
  top: 46px;
  z-index: 10;
}
.list-group-custom {
  list-style-type: none;
  text-align: left;
  padding-left: 0 !important;
}
.footer-icon {
  width: 40px;
  line-height: 36px;
  border: 1px solid var(--light-color);
  border-radius: 100%;
  text-align: center;
}
.cart-light {
  background: rgba(250, 250, 250, 1) !important;
}
.rounded-full {
  border-radius: 100%;
}
.bg-g {
  background-color: rgba(26, 186, 26, 1) !important;
}
.btn-cart {
  color: var(--main-color);
  background-color: #d9d9d9;
}
.cart-img {
  height: 250px;
  border-radius: 10px 0px 0px 0px;
}
.border-green {
  border: 1px solid var(--main-color);
  border-radius: 12px;
}
.profile-user-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}
.pr-4 {
  padding-right: 1.5rem;
}
.w-48 {
  width: 46%;
}
.profile-link {
  color: var(--dark-color);
  background-color: var(--white-color);
}
.profile-link a {
  text-decoration: none;
  color: var(--dark-color);
}
.map {
  height: 418px;
}
.map .googlemap {
  height: 300px;
}

.responsive-map {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.responsive-map iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.checkout-light-1 {
  height: 240.38px !important;
  background: rgba(237, 239, 245, 1);
}
.checkout-light-2 {
  height: 300.88px !important;
  background: rgba(225, 227, 235, 1);
  border-radius: 0px 0px 0.5rem 0.5rem !important;
}
.products-banner-img,
.products-banner-img-2 {
  height: 310px;
  background-image: url("../img/home/banner/headphone-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.products-banner-img-2 {
  background-image: url("../img/home/banner/redmi-mobile-banner.png") !important;
}
.w-50p {
  width: 50px;
}
.h-50p {
  height: 50px;
}
.p-cate-text {
  width: 138px;
}
.cate-ul {
  list-style: none;
}
.cate-img-wrapper {
  width: 100%;
  height: 195px;
  object-fit: cover;
}
.close-icon {
  font-size: 10px !important;
  padding: 4px 5px 5px 5px;
}
.text-heading {
  width: 100%;
  height: 70px !important;
  /* white-space: nowrap; */
}
.top-content-categories {
  height: 56px;
}
/* range slider */

.range_container {
  --_marker-border-clr: var(--main-color);
  --_marker-size: 15px;
  --_track-heigt: 3px;

  --_tooltip-bg-clr: rgba(0, 0, 0, 0.4);
  --_tooltip-txt-clr: var(--_marker-border-clr);

  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.sliders_control {
  position: relative;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: var(--_marker-size);
  height: var(--_marker-size);
  background-color: var(--_marker-border-clr);
  border-radius: 50%;
  box-shadow: 0 0 0 1px var(--_marker-border-clr);
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  pointer-events: all;
  width: var(--_marker-size);
  height: var(--_marker-size);
  background-color: var(--_marker-border-clr);
  border-radius: 50%;
  box-shadow: 0 0 0 1px var(--_marker-border-clr);
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: #f7f7f7;
}

input[type="range"]::-webkit-slider-thumb:active {
  box-shadow: inset 0 0 3px var(--main-color), 0 0 9px var(--main-color);
  -webkit-box-shadow: inset 0 0 3px var(--main-color), 0 0 9px var(--main-color);
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: var(--_track-heigt);
  width: 100%;
  position: absolute;
  background-color: var(--_marker-border-clr);
  pointer-events: none;
}

#fromSlider {
  height: 0;
  z-index: 1;
}
/* range slider end */
.dashed {
  width: 20px;
  height: 2px;
  background-color: var(--dark-color);
}
.color-picker {
  width: 30px;
  height: 30px;
  border-radius: 6px;
}
.bg-brown {
  background: rgba(164, 42, 42, 1);
}
.bg-gray {
  background: rgba(47, 85, 123, 1);
}
.bg-light-blue {
  background: rgba(67, 154, 187, 1);
}
.bg-slate {
  background: rgba(105, 105, 105, 1);
}
.product-bg-img {
  background-image: url("../img/home/brands/cam.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}
.about-banner {
  background-image: url("../img/home/banner/about-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 260px;
  width: 100%;
}
.about-cat {
  height: 174px !important;
}
.about-title-banner {
  height: 400px;
  overflow: hidden;
}
.about-title-banner img {
  margin-top: -692px;
}
.about-tabel tbody {
  vertical-align: sub !important;
}
.about-tabel tbody tr th,
.about-tabel tbody tr td {
  padding: 3.233px 0px;
}
.about-user-img img {
  height: 320px !important;
}
.s-p-small-img {
  height: 88.8px;
  width: 88.8px;
}
.border-custom,
.border-custom:hover {
  border: 1px solid var(--main-color);
}
.s-p-img-select {
  width: 45.03px;
  height: 35px;
}
.pro-aff-img {
  width: 45px;
  height: 20px;
}
.buy-paypal,
.buy-paypal:hover {
  color: var(--dark-color);
  text-transform: uppercase;
  background: rgba(246, 171, 74, 1);
}
.s-p-add-product::after {
  content: "+";
  position: absolute;
  right: -21px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 37%;
  font-size: 22px;
  background-color: var(--light-color);
  font-weight: 900;
  border-radius: 50%;
}
.product-banner {
  height: 400px;
}
.h-custom-p {
  height: 400px;
}
.pay-card-img {
  width: 70px;
  height: 70px;
}
.vertical-middle {
  vertical-align: middle !important;
}
/* owl items */
.owl-item .item {
  display: flex;
  align-items: center;
}

.owl-nav button {
  position: absolute;
  top: 50%;
  background-color: #000;
  color: #fff;
  margin: 0;
  transition: all 0.3s ease-in-out;
}
.owl-nav button.owl-prev {
  left: 0;
}
.owl-nav button.owl-next {
  right: 0;
}
.owl-dot {
  border: 1px solid var(--light-color) !important;
}
.owl-dots {
  text-align: center;
  padding-top: 15px;
}
.owl-dots button.owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background: #ccc;
  margin: 0 3px;
}
.owl-dots button.owl-dot.active {
  background-color: #000;
}
.owl-dots button.owl-dot:focus {
  outline: none;
}
.owl-nav button {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  width: 20px;
  color: var(--white-color) !important;
  height: 50px !important;
  opacity: 0.6;
  background: var(--main-color) !important;
}
.owl-nav button:focus {
  outline: none;
}
